* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  user-select: none;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
}

.ant-table-tbody > tr:hover {
  cursor: pointer;
}

.receipt {
  width: 58mm; /* atau 80mm sesuai printer */
  font-family: monospace !important;
  font-size: 12px;
  line-height: 1.4;
}

.receipt .center {
  text-align: center;
  margin: 0;
}

p {
  padding: 0 !important;
  margin: 2px 0 !important;
}
.receipt table {
  width: 100%;
  border-collapse: collapse;
}

.receipt td {
  padding: 2px 0;
}

.receipt .right {
  text-align: right;
}

.receipt hr {
  border: none;
  border-top: 1px dashed #000;
  margin: 4px 0;
}
