* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.disabled {
  background-color: rgb(155, 155, 155) !important;
  color: #444 !important;
}
.disabled:hover {
  background-color: rgb(155, 155, 155) !important;
  color: #444 !important;
}
