* {
  user-select: none;
}

.modal-left .ant-modal {
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) !important;
  margin: 0;
}
.ant-drawer-close {
  color: red; /* ganti sesuai kebutuhan */
}

.ant-table {
  background-color: transparent !important;
}

.song-table .ant-table-body {
  overflow-y: scroll !important;
  scrollbar-width: auto;
  scrollbar-color: #00ffff #222;
}

.song-table .ant-table-body::-webkit-scrollbar {
  width: 20px !important;
}

.song-table .ant-table-body::-webkit-scrollbar-track {
  background: #222 !important;
}

.song-table .ant-table-body::-webkit-scrollbar-thumb {
  background: #00ffff !important;
  border-radius: 6px;
}

.ant-table-thead > tr > th {
  background: rgba(0, 0, 0, 0.6) !important;
  color: #00ffff !important;
}
/* default row style */
.ant-table-tbody > tr > td {
  background: transparent !important;
  color: #fff !important;
  cursor: pointer;
}

.ant-table-placeholder {
  background: transparent !important;
}

.ant-table-tbody {
  background: transparent !important;
}
/* hover seluruh baris */
.ant-table-tbody > tr:hover > td {
  background: #00ffff !important;
  color: #000 !important; /* biar kontras dengan background cyan */
}

.ant-table-tbody > tr.active-row > td {
  background: #00ffff !important;
  color: #000 !important;
}
