.home-container {
  padding: 20px;
}

.home-title {
  margin-bottom: 20px;
  color: #333;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.room-card {
  background: #fff;
  border-radius: 8px;
  padding: 5px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.room-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.room-text {
  font-size: 14px;
  margin: 4px 0;
}
.room-card.used {
  background: #20f64f;
}

.room-card.standby {
  background: #ecebeb;
}

.room-card.warn {
  background: #e7d83b;
}

.room-card.close {
  background: #ee3e3e;
}

.room-card.offline {
  color: #ecebeb !important;
  background: #454545;
}

.room-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
